<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AcusticCompany</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th th:each="column : ${columns}" th:text="${column}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entityData : ${rows}">
        <td th:each="column : ${columns}" th:text="${entityData[column]}"></td>
        <td>
            <span th:if="${entityData.company != null}" th:text="${entityData.company.name}"></span>
            <span th:unless="${entityData.company != null}"></span>
        </td>

    </tr>
    </tbody>
</table>

</body>
</html>